.game h1{
    font-size: 2.5em;
    
    
}
.pontuacao span{
font-weight: bold;

}

.dica span{
    color: rgba(243, 210, 20, 0.918);
}
.containerPalavra{
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid rgba(243, 210, 20, 0.918);
    display: flex;
}

.letra,
.quadrovazio{
font-size: 70px;
line-height: 1.5;
border: 3px solid  #000;
height: 100px;
width: 100px;
text-transform: uppercase;
background-color: aliceblue;
color: black;
text-align: center;
font-weight: bold;
}

.containerLetra p {
margin-bottom: 1.2em;
color: aliceblue;
}

.containerLetra form{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.containerLetra input{
    height: 70px;
    width: 70px;
    font-size: 2em;
    text-align: center;
    margin-right:1em;
    text-transform: uppercase;
    
}
.containerLetra{
    text-align: center;
}
.letrasUsadas span{
    text-align: center;
    margin-right:1em;
    text-transform: uppercase;
    color: rgba(243, 210, 20, 0.918);
    font-weight: bold;
}
.letrasUsadas {
    text-align: center;
    margin-right:1em;
   color: rgba(247, 246, 244, 0.918);
}
